__pycache__/
*.pyc
data/*.json
*.pdf

# Mac junk
.DS_Store

# Runtime / state files
alerted_bets.json
tracked_bets.txt
.DS_Store
all_alerts.json
data/
service_account.json
tracked_bets_export.csv

# Exports
*.csv
*.xlsx